@use 'sass:math';
@import "../../../styles/globals.scss";

.particlesbackground {
    width: 90%;
    height: auto;
    background: rgba( 0, 0, 0, 0.50 );
    backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    border-radius: 20px;
  }

  $particleSize: 5vmin;
  $animationDuration: 240s;
  $amount: 30;
  .particlesbackground span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (
$purple,
$blue,
$lightblue
 );
    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: math.div(random($animationDuration * 10), 10);
        animation-delay: math.div(math.random($animationDuration + 10s * 10), 10);
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }

  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
