
/*
Section Title Area Style
======================================================*/
.section-title {
	text-align: center;
	position: relative;


h4 {
    line-height: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px;        z-index: 99;
    position: relative;


}
	h2 {
		position: relative;
		display: block;
        line-height: 1em;
        margin-top: -1px;
        z-index: 99;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
