.bggradient {
    @apply bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500;
}
.gradienttext {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500 text-5xl font-black

}
.textgradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500;
}

.blackgradient {
    background: linear-gradient(90deg, rgba(41, 41, 41, 1) 2.11%, rgba(0, 0, 0, 1) 104.85%);
}

.fadedblackgradient {
    background: linear-gradient(90deg, rgba(41, 41, 41, .8) 2.11%, rgba(0, 0, 0, .8) 104.85%);
}

.borderline{
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #6633FF 18.59%, #3366FF 68.36%, #0099FF 105%);
}

.gradientbgdiv {
	background: linear-gradient(90deg, #8F6AFA 18.59%, #375CDC 68.36%, #0099EE 105%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: auto;
    width: 100%;
    position: relative;
    opacity: 1;
    height: auto;
    border-radius: 20px;

}

.glass {
background: rgba( 0, 0, 0, 0.70 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 200ms ease-in-out;
}

.grayscale:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}
