.superbigheadlines{
    font-family: 'DIN Condensed';
    font-size: 350px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
}
.bold {
    font-weight: 700;
}
.white-text {
    color: #ffffff;
}
.grotesk {
    font-family: neue-haas-grotesk-display, sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.dincondensed {
    font-family: 'DIN Condensed';
}


.h1, .h2, h2, h1 {
    @apply leading-loose underline dincondensed bold;
}

p, .p, body, section {
 @apply roboto;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
@apply leading-loose grotesk;
}


.font-size-9xl {
    font-size: 28em;
}
.font-size-3xl {
    font-size: 3em;
}
.font-size-xl {
    font-size: 1.5em;
}
.underline {
    text-decoration: underline;
}
.font-bold {
    font-weight: 700;
}

.line-height-normal {
    line-height: 1em;
}
.text-center {
    text-align: center;
     align-items: center;
  justify-content: center;
}

.line-height-small {
    line-height: .75em;
}
