.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.grid-container {
  display: grid;
  margin-top: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "text image image image" ". . . ." ". . . .";
}

.image {
  grid-area: image;
}

.text {
  vertical-align: middle;
  grid-area: text;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas: "image image image" "text" ". . . .";
  }
}
@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }

  .parent {
    display: grid;
    grid-template-columns: minmax(100px, 25%) 1fr;
  }
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.visually-hidden, .visually-hidden-focusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.float-start {
  float: left !important;
}

.float-end {
  float: right !important;
}

.float-none {
  float: none !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.top-0 {
  top: 0 !important;
}

.top-50 {
  top: 50% !important;
}

.top-100 {
  top: 100% !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.bottom-50 {
  bottom: 50% !important;
}

.bottom-100 {
  bottom: 100% !important;
}

.start-0 {
  left: 0 !important;
}

.start-50 {
  left: 50% !important;
}

.start-100 {
  left: 100% !important;
}

.end-0 {
  right: 0 !important;
}

.end-50 {
  right: 50% !important;
}

.end-100 {
  right: 100% !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.translate-middle-x {
  transform: translateX(-50%) !important;
}

.translate-middle-y {
  transform: translateY(-50%) !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.grow:hover {
  font-size: 24px;
  padding: 17px 34.5px;
  text-shadow: 0px 4px 0px #ef9139;
}

.pulse:hover {
  animation-name: pulse;
  animation-duration: 1s;
}

.skew:hover {
  animation: skew 1s;
}

.swing:hover {
  animation: swing 1s;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1) translate(0, -5px);
  }
}
/* Pulse animation */
@keyframes skew {
  0% {
    transform: skewX(0deg);
  }
  10% {
    transform: skewX(-10deg);
  }
  20% {
    transform: skewX(10deg);
  }
  25% {
    transform: skewX(-8deg);
  }
  30% {
    transform: skewX(8deg);
  }
  33% {
    transform: skewX(-4deg);
  }
  36% {
    transform: skewX(4deg);
  }
  40% {
    transform: skewX(0deg);
  }
}
@keyframes swing {
  0% {
    transform: rotateZ(0deg) translate(0, 0);
  }
  20% {
    transform: rotateZ(10deg) translate(5px, -2px);
  }
  40% {
    transform: rotateZ(-10deg) translate(-5px, 2px);
  }
  60% {
    transform: rotateZ(11deg) translate(4px, -1px);
  }
  80% {
    transform: rotateZ(0deg) translate(0px, 0px);
  }
}
.starsinfo {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 14px;
}
.starsinfo a {
  color: inherit;
}
.starsinfo .starsnotice {
  margin-top: 1rem;
  font-weight: 100;
}
@media screen and (min-width: 980px) {
  .starsinfo {
    font-size: 18px;
  }
  .starsinfo .starsnotice {
    display: none;
  }
}

.starshero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 20px;
  background: transparent;
}

.starshero-body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;

}
@media screen and (min-width: 980px) {
  .starshero-body {
  }
}

.starscontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.starsrow {
  display: flex;
  flex-wrap: wrap;
}

.starscolumn {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  width: 100%;
}
@media screen and (min-width: 980px) {
  .starscolumn {
    width: 33.3333333333%;
  }
}

.starscard {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: linear-gradient(90deg, #292929 2.11%, #000000 104.85%);
  border-radius: 20px;
  color: #ffffff !important;
  box-shadow: 2px 2px 1px #171040, 3px 3px 1px #171040, 4px 4px 1px #171040, 5px 5px 1px #171040, 6px 6px 1px #171040, 7px 7px 1px #171040, 8px 8px 1px #171040, 9px 9px 1px #171040, 10px 10px 1px #171040, 11px 11px 1px #171040, 12px 12px 1px #171040;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.starscard-title {
  font-size: 22px;
  font-weight: 600;
}

.starscard-body {
  margin-top: 27px;
  margin-bottom: 27px;
  line-height: 1.5;
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .starscard-body {
    font-size: 18px;
  }
}

.starsimage-container {
  margin-top: auto;
  padding-top: 27px;
  padding-bottom: 18px;
}
@media screen and (min-width: 576px) {
  .starsimage-container {
    padding-bottom: 30px;
  }
}
.starsimage-container img {
  width: 100%;
}

.starsimage-inner-container {
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
}

.starsratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.starsratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
