@import "../../../styles/globals.scss";

.business-area {
	.default-btn {
		margin-top: 10px;
	}
}
.business-content {
	h2 {
		margin-top: -9px;
		margin-bottom: 40px;
	}
}
.single-business {
    padding-left: 70px;
	transition: $transition;
	margin-bottom: 30px;
	position: relative;

@include shadow;
@include glass;
border: $white 2px solid;

	i {
		position: absolute;
		left: 0;
		top: 5px;
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 0px 30px 30px 30px;
		color: $purple;
	}
	h3 {
		margin-bottom: 10px;
	}
	&:hover {
		transform: translateY(-5px);
	}
}
.single-counter {
    @include shadow;
    @include glass;
	text-align: center;
	padding: 50px;
	transition: $transition;

		.target {
			line-height: 1;
			position: relative;
			top: 7px;
		}

	p {

		margin: 10px 0 0;
	}
	&:hover {
		animation: rubberBand 2s linear;
	}
}
.counter-nth {
    &:nth-child(1) {
		.single-counter {
            border: $lightblue 2px solid;
		}
	}
	&:nth-child(2) {
		.single-counter {
            border: $purple 2px solid;
		}
	}
	&:nth-child(3) {
		.single-counter {
            border: $blue 2px solid;

		}
	}
	&:nth-child(4) {
		.single-counter {

            border: $gray 2px solid;


		}
	}
}

@media only screen and (max-width: 767px) {
    .business-content h2 {
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .business-area .default-btn {
        margin-top: 0;
    }
    .counter-nth {

        &:nth-child(1) {
            border-color: $purple;

            .single-counter {
            }
        }
        &:nth-child(2) {
            .single-counter {
            }
        }
        &:nth-child(3) {
            .single-counter {

            }
        }
    }
    .single-counter h2 span {
    }
    .single-counter p {
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .business-content {
        h2 {
        }
    }

    .business-content h2 {
    }
    .business-area .default-btn {
    }
    .counter-nth {
        &:nth-child(1) {
            .single-counter {
            }
        }
        &:nth-child(2) {
            .single-counter {
            }
        }
        &:nth-child(3) {
            .single-counter {

            }
        }
    }
    .single-counter h2 span {
    }
    .single-counter p {
    }}



    @media only screen and (max-width: 767px) {

    .business-content h2 {
        border: $white 2px solid;

        line-height: 1.3;
    }
    .business-area .default-btn {
    }
    .counter-nth {
        &:nth-child(1) {
            .single-counter {
            }
        }
        &:nth-child(2) {
            .single-counter {
            }
        }
        &:nth-child(3) {
            .single-counter {

            }
        }
    }
    .single-counter h2 span {

    }
    .single-counter p {

    }
    .industries-area {
        .industries-list-tab {
            .tabs {
                li {
                    span {
                    }
                }
            }
        }
    }}
    @media only screen and (max-width: 767px) {
        .business-content h2 {
            margin-bottom: 30px;
            line-height: 1.3;
        }
        .business-area .default-btn {
            margin-top: 0;
        }
        .counter-nth {
            &:nth-child(1) {
                .single-counter {
                }
            }
            &:nth-child(2) {
                .single-counter {
                }
            }
            &:nth-child(3) {
                .single-counter {

                }
            }
        }
        .single-counter h2 span {
        }
        .single-counter p {
        }}
