@import "../../../styles/globals.scss";

.business-area {
	.default-btn {
		margin-top: 10px;
	}
}
.business-content {
	h2 {
		margin-top: -9px;
		margin-bottom: 40px;
	}
}
.single-business {
    padding-left: 70px;
	transition: $transition;
	margin-bottom: 30px;
	position: relative;

	i {
		position: absolute;
		left: 0;
		top: 5px;
		background-color: #eeeefe;
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 0px 30px 30px 30px;
		color: $purple;
	}
	h3 {
		margin-bottom: 10px;
	}
	&:hover {
		transform: translateY(-5px);
	}
}
.single-counter {

	text-align: center;
	padding: 50px;
	margin-bottom: 30px;
	transition: $transition;
	h2 {
		margin-bottom: 0;
		span {

		}
		.target {
			line-height: 1;
			position: relative;
			top: 7px;
		}
	}
	p {

		margin: 10px 0 0;
	}
	&:hover {
		animation: rubberBand 1s linear;
	}
}
.counter-nth {
	&:nth-child(2) {
		.single-counter {
			margin-top: 30px;
		}
	}
	&:nth-child(3) {
		.single-counter {

			margin-top: -30px;
			margin-bottom: 0;
		}
	}
	&:nth-child(4) {
		.single-counter {

			margin-top: -30px;
			margin-bottom: 0;
			margin-bottom: 0;

		}
	}
}

@media only screen and (max-width: 767px) {
    .business-content h2 {
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .business-area .default-btn {
        margin-top: 0;
    }
    .counter-nth {
        &:nth-child(1) {
            .single-counter {
                margin-top: 30px;
            }
        }
        &:nth-child(2) {
            .single-counter {
                margin-top: 0px;
            }
        }
        &:nth-child(3) {
            .single-counter {
                margin-top: 0px;
                margin-bottom: 30px;
            }
        }
    }
    .single-counter h2 span {
    }
    .single-counter p {
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .business-content {
        h2 {
            margin-bottom: 40px;
        }
    }

    .business-content h2 {
        margin-bottom: 30px;
    }
    .business-area .default-btn {
        margin-top: 0;
    }
    .counter-nth {
        &:nth-child(1) {
            .single-counter {
                margin-top: 30px;
            }
        }
        &:nth-child(2) {
            .single-counter {
                margin-top: 30px;
            }
        }
        &:nth-child(3) {
            .single-counter {
                margin-top: 0px;
                margin-bottom: 0;
            }
        }
    }
    .single-counter h2 span {
    }
    .single-counter p {
    }}



    @media only screen and (max-width: 767px) {

    .business-content h2 {
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .business-area .default-btn {
        margin-top: 0;
    }
    .counter-nth {
        &:nth-child(1) {
            .single-counter {
                margin-top: 30px;
            }
        }
        &:nth-child(2) {
            .single-counter {
                margin-top: 0px;
            }
        }
        &:nth-child(3) {
            .single-counter {
                margin-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .single-counter h2 span {

    }
    .single-counter p {

    }
    .industries-area {
        .industries-list-tab {
            .tabs {
                li {
                    span {
                    }
                }
            }
        }
    }}
    @media only screen and (max-width: 767px) {
        .business-content h2 {
            margin-bottom: 30px;
            line-height: 1.3;
        }
        .business-area .default-btn {
            margin-top: 0;
        }
        .counter-nth {
            &:nth-child(1) {
                .single-counter {
                    margin-top: 30px;
                }
            }
            &:nth-child(2) {
                .single-counter {
                    margin-top: 0px;
                }
            }
            &:nth-child(3) {
                .single-counter {
                    margin-top: 0px;
                    margin-bottom: 30px;
                }
            }
        }
        .single-counter h2 span {
        }
        .single-counter p {
        }}
