
@import "../../../styles/globals.scss";

.features-area {
	position: relative;
	z-index: 1;
}
.choose-title {
	margin-top: -9px;
	margin-bottom: 30px;
	span {
		font-size: 14px;
		color: $main-color;
		display: inline-block;
		margin-bottom: 8px;
	}
	h2 {
		font-size: 40px;
		margin-bottom: 0;
	}
}
.choose-content {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			position: relative;
			padding-left: 120px;
			padding-right: 30px;
			padding-top: 30px;
			padding-bottom: 30px;
			background: $black-gradient;
			box-shadow: $box-shadow;
			margin-bottom: 30px;
			transition: $transition;
            border-radius: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				width: 70px;
				height: 70px;
				line-height: 70px;
				text-align: center;
				position: relative;
				border: 2px dotted $white-color;
				border-radius: 50%;
				font-size: 30px;
				font-weight: 600;
				color: $heading-color;
				animation: border-transform 7s linear infinite alternate forwards;
				transition: $transition;
				background-color: #dcddfa;
				box-shadow: $box-shadow;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 25px;
				display: inline-block;
				position: absolute;
				top: 35px;
    			left: 30px;
				i {
					position: absolute;
					top: 50px;
					left: 30px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					background-color: $white-color;
					box-shadow: $box-shadow;
					border-radius: 50%;
					display: inline-block;
					font-size: 25px;
					color: #dcddfa;
				}
			}
			h3 {
				margin-bottom: 10px;
			}
			&:nth-child(2) {
				span {
					background-color: #c8fbfa;
					i {
						color: #c8fbfa;
					}
				}
			}
			&:nth-child(2) {
				span {
					background-color: #bde5fa;
					i {
						color: #bde5fa;
					}
				}
			}
			&:hover {
				transform: translateY(-5px);
			}
		}
	}
}
